language: java
jdk:
- oraclejdk8
addons:
  sonarqube: true
sonarqube:
  branches:
  - master
  - issue_45
cache:
  directories:
  - "$HOME/.m2/repository"
  - "$HOME/.sonar"
script:
- mvn clean -e -B
- mvn -e -B org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.login=$SONAR_TOKEN
  -Dsonar.branch=$TRAVIS_BRANCH -Dsonar.github.oauth=$SONAR_GITHUB_TOKEN -Dsonar.github.pullrequest=$TRAVIS_PULL_REQUEST_BRANCH
- echo "PRB:$TRAVIS_PULL_REQUEST_BRANCH PR:$TRAVIS_PULL_REQUEST"
- mvn package -e -B
env:
  global:
  - secure: LJ9xR29ve3yUVwqahZGPePVtpf7hafxEKRrONuolGEUnG1egsx2Hny8pVaWrWwBV0TlvDtroytWMZw/e7fAuyd3g407E4LlXzSCJBaWgeaTQlPgp3vpEOUlixQTzy05fNWfbkC5pPJKJsWU53X3OIpQDDiqjNjXTbloZ1J6sqV8lBNHSMLnTwzjbeOQS/uQhzdk8iYeXgh7q4VTSpcOO6J7kIZgCIkKgBfo1CcVgzvIdLJwdCXxdoMcqeiI8VoneriZzrVLXxW27Q53jOd/+UupykdGWy5ebw2+WSN+P07OoTakww/6BgcBuwHn2AfvmfyKdHLp8HOfz4x/lGs77uvr8D8xtGj5IkNsx3rLJHLRVWfLFnnvGXG4SHOPtfAjhlYmnnkpopFtqUHz+5NuJKEa1NSSszpAQQfTm9Ofuax5C7lZdQg4/Yxn/2rcKaqxiw0Q6KTw5O5aNbmmLh+rwNOib+WFhFjr/OMu3crHkM4tJXlnJdMSprrz13vWOLkvcf6W+ZYUMWj9qnNRYv7LojLyvIAjC8Ef6WuyHQ8lODAaEn8mlaO96Y9JK2GCVlnAamYMnfDb40h0nuKpoHJZDXMyXVUWLfPCnLA192se9KhQwXFopfTv4547EJrajugWumsYX61i5zjWFyYphojB7mcSrr1nC6mUiRc0k05b50RU=
  - secure: g9AEaMFFiIpzdqdKjjvbOREfuY+n7U1FV5y5cL8JYVWyUUai8vZ2PjP9+J16rurSajHvtpFgYhEVWhChYQsU+BkNDX4cLpDI8UNVv0wZTjjNtlBb3ZbZNzDGRt4+nXxLne4GXJm/UOXdRyq6Adpj5xDQzX9uLv4V9JPWDmpoJ/h6Rhw30tAv+r0uOfCOLkCpSPZp6yKC/3VsMgRR8yaD2PLfsCUM8bHnu6hDJWNc2B+FhUBpnOU948ValshsTM5OqA0dreOAuOGdFlhDI76K1UHbKXgjQ0zJ7aVw7kJilWO75QHESBI4/4nYQo4UyfhvxpTPuIA/5MUqSbABOOeUlamyPn7bPTqN90S4OSOK4mMaTd4ygD7W8O/puDtmNVnFiNP6P/Rw1kcYa1wdxGePLehc1UGtuPWs+GVUHctq56UjVe+b1oLJb2LfKkSG9u3pSpZ1UVWZFkX+lTD8eu247uzOLIre9XiLF+BWssWaPfXHoc3iOQIAZgGO7JiKg/Ne5pBhpNm9fd1hUnHncI0G+IGZeR5GEvGWw23RR/gH51y5ruG0ISY0tu5oA3MS5tMIFOA9ztFSVYpJcLY2eaJ1STXX8vjv5UjZz8g0LGEdqvSAocjRS47/D3ZaCxpxwNRVsxdSHootlB4FS9N4njUE0MEO5MdRSTae5RN/JeQjqTw=
